{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Title'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.content, {'attr': {'class': 'form-control', 'placeholder': 'Content'}}) }}
    </div>
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
