<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                {% if not app.user %}
                    <li><a href="{{ path('register') }}">S'inscrire</a></li>
                    <li><a href="{{ path('login') }}">Se connecter</a></li>
                {% else %}
                    <li><a href="{{ path('profile') }}">{{ app.user.firstname }} {{ app.user.lastname }}</a></li>
                    <li><a href="{{ path('ticket') }}">Soumettre un ticket</a></li>
                    <li><a href="{{ path('logout') }}">Se deconnecter</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
